.pencil {
	color: #0005ff;
	text-color: #0005ff;
	font-style: italic;
	font-size: 20;
}
.rounded {
	border-width: 3;
	border-color: #0005ff;
	border-radius: 20;
	color: #0005ff;
	text-color: gray;
	font-style: italic;
	font-size: 20;
}
